// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #BC9AD6;
$dark: #000;
$danger: #B71A1F;
$warning: #F7E221;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  // border: 1px solid grey;
}
.container, .container-fluid {
  overflow: hidden;
  padding: 0;
}

body {
  color: #fff;
  text-transform: uppercase;

}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 0 10px 0 0;
}

// Style Bootstrap icons
.bi {
  fill: currentcolor;
}


// Custom Styles
.logo-cont {
  height: 65px;
  width: 365px;
}

h1 {
  font-family: 'Passion One', cursive;
  font-size: 56px;
  letter-spacing: 1.4px;
  line-height: 48px;
  color: $warning;
}

h2 {
  font-family: 'Passion One', cursive;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}

p {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
}

a.btn {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.32px;
  line-height: 20px;
  i {
    font-weight: 900;
  }
}

footer p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 24px;
}

// Modal
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.share p {
  font-family: 'Passion One', cursive;
  font-size: 36px;
  letter-spacing: 0.72px;
  line-height: 54px;
}

.modal-body a {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.28px;
  line-height: 17px;
  img {
    width: 27px;
    height: 27px;
    display: inline;
  }
}